.container{
    margin-top: 20px;
    padding: 30px 0;
    border-top: 1px solid rgb(200, 200, 200);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgSet {
    width: 50px;
}