body{
    background-color: rgb(245, 245, 245);
    font-family: 'Cuprum', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 370px;
    margin-top: 40px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 5%;
    }
  
    .logo {
      width: 100%;
    }
  }